
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.avatar--top--bar {
    width: 40px;
    height: 40px;
}

.avatar--left--bar {
    width: 48px;
    height: 48px;
}

.quantity--messages {
    width: 18px;
    height: 18px;
}

.border--radius--100 {
    border-radius: 100px;
}

.background--white {
    background-color: #ffffff;
}

.background--green {
    background-color: #78e379;
}

.background--blue {
    background-color: #8bacd9;
}

.background--light--grey {
    background-color: #f5f5f5;
}

.color--grey {
    color: #707991;
}

.color--white {
    color: #ffffff;
}

.color--rich--black {
    color: #011627;
}
.font--family {
    font-family: 'Inter', sans-serif;
}

.font--weight--bold {
    font-weight: bold;
}

.font--size--16 {
    font-size: 16px;
}

.font--size--14 {
    font-size: 14px;
}

.font--size--12 {
    font-size: 12px;
}

.font--weight--regular {
    font-weight: 400;
}

.line--height--18 {
    line-height: 18px;
}

.gap--5 {
    gap: 5px;
}

.gap--10 {
    gap: 10px;
}

.padding--top--10 {
    padding-top: 10px;
}

.padding--left--5 {
    padding-left: 5px;
}

.padding--5 {
    padding: 5px;
}

.padding--10 {
    padding: 10px;
}

.cursor--pointer {
    cursor: pointer;
}

.search--bar {
    height: 70px;
    gap: 5px;
    padding-right: 16px;
}

.search {
    border-radius: 22px;
    padding: 10px;
    gap: 10px;
    width: 100%;
   
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #707991;
    width: 221px;
}

.contact--area {
    height: 72px;
}

.chats--list:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

.top--bar {
    height: 70px;
    width: 100%;
   
}

.top--bar--left {
    height: 70px;

}

.top--bar--right {
    height: 70px;

}

.icons--top--bar  img{
    width: 24px;
    height: 24px;
    padding: 16px;
}

.icons--top--bar {
    margin-top: auto;
    margin-left: auto;
}

.icons--top--bar img:hover {
    cursor: pointer;
}

.background--messages {
    background-color: #8BABD8;
    width: 100%;
    height: 94.5%;
}

.div--container--messages {
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    height: 94.5%;
}

.data--chat {
    width: 71px;
    height: 28px;
    border-radius: 12px;
    padding: 4px 12px;
    gap: 4px;
    background-color: hsla(215, 50%, 48%, 0.6);
}

.message--other {
    max-width: 400px;
    border-radius: 8px;
    padding: 4px 12px;
}

.message--you {
    max-width: 400px;
    border-radius: 8px;
    padding: 4px 12px;
    gap: 1px;
}

.message {
    font-weight: 400;
    font-size: 16px;
}

.check--icon {
    width: 14px;
    height: 14px;
}

.input--bar {
    margin-top: 10px;
    height: 56px;
    border-radius: 12px;
}

.input--area {
    border: 0;
    color: #707991;
    outline: 0;
    
}

.icon--24x24 {
    width: 24px;
    height: 24px;
}