
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.avatar--top--bar {
    width: 40px;
    height: 40px;
}

.avatar--left--bar {
    width: 48px;
    height: 48px;
}

.quantity--messages {
    width: 18px;
    height: 18px;
}

.border--radius--100 {
    border-radius: 100px;
}

.background--white {
    background-color: #ffffff;
}

.background--green {
    background-color: #78e379;
}

.background--blue {
    background-color: #8bacd9;
}

.background--light--grey {
    background-color: #f5f5f5;
}

.color--grey {
    color: #707991;
}

.color--white {
    color: #ffffff;
}

.font--family {
    font-family: 'Inter', sans-serif;
}

.font--weight--bold {
    font-weight: bold;
}

.font--size--16 {
    font-size: 16px;
}

.font--size--14 {
    font-size: 14px;
}

.font--size--12 {
    font-size: 12px;
}

.font--weight--regular {
    font-weight: 400;
}

.gap--5 {
    gap: 5px;
}

.padding--top--10 {
    padding-top: 10px;
}

.padding--left--5 {
    padding-left: 5px;
}

.left--chats {
    border: 1px solid red;
}

.center--chat {
    border: 1px solid blue;
}

.search--bar {
    height: 56px;
    gap: 5px;
    padding-right: 16px;
}

.search {
    border-radius: 22px;
    padding: 10px;
    gap: 10px;
    width: 100%;
   
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #707991;
    width: 221px;
}

.contact--area {
    height: 72px;
}

.chats--list:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}


